@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="border-radius:15px;width:100%;height:100px;text-shadow:0px 5px 10px red;">
    <h1 class="display-4"><b>Welcome to Loan Management System</b></h1>
   
</div>
<br /><br />

<head>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 1200px;
            height: 500px;
        }
    </style>
</head>
<body>

    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/tips_on_getting_a_bank_loan.jpg" alt="Loan" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>We can take Loans..! </h3>
                    <p>We had such a great time..!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/unsecured-loans.jpg" alt="Loan" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Personal Loans </h3>
                    <p>We can achieve our goals by taking loan..!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/best-practices-for-home-loans.jpg" alt="Loan" width="1100" height="500" >
                <div class="carousel-caption">
                    <h3>Home Loans </h3>
                    <p>We can create our own house...!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</body>

<br />
<br />
<br />

<table>
    <tr>
        <td style="padding:30px;">
            <h1 style="color:crimson;">Home Loan</h1>
            <p>Get loan approval for your dream home through a seamless,paperless process.</p>

        </t>
        <td>
            <img src="~/Images/Home.webp" style="width:600px;height:400px;border-radius:20px;" />
        </td>
    </tr>
</table>

<br />
<br />
<br />

<table>
    <tr>
        
        <td>
            <img src="~/Images/Instant-car-loan.jpg" style="width:600px;height:400px;border-radius:20px;" />
        </td>
        <td style="padding:30px;">
            <h1 style="color:crimson;">Vehicle Loan</h1>
            <p>Get loan approval for your dream Vehicle through a seamless,paperless process.</p>

        </td>
    </tr>
</table>
<br />
<br />
<br />

<table>
    <tr>
        <td style="padding:30px;">
            <h1 style="color:crimson;">Personal Loan</h1>
            <p>Get loan approval for your utilites through a seamless,paperless process.</p>

            </t>
        <td>
            <img src="~/Images/personal-loan1.jpg" style="width:600px;height:400px;border-radius:20px;" />
        </td>
    </tr>
</table>
<br />
<br />
<br />
<center><h2>What our customers says about us..!</h2></center>
<br />
<table>
    <tr>
        <td style="padding:10px;">
            <div style="box-shadow:0px 5px 10px grey;border-radius:10px;padding:10px;background-color:antiquewhite;">
                <p>Couldn't have asked for any better process of the loan and the eligibility. Starting from autopay setup to updating address and the amount being credited in the account in just 10 mins. I am coming back!</p>
                <img src="~/Images/person2.jpg" style="width:80px;height:80px;border-radius:10px;" /> <br /><br /><h3 style="color:darkblue;">Ravi</h3>
            </div>
        </td>

        <td style="padding:10px;">
            <div style="box-shadow:0px 5px 10px grey;border-radius:10px;padding:10px;background-color:antiquewhite;">
                <p>It's awesome, I used it's personal loan for a two wheeler. And it was way cheaper than any bank/finance company's two wheeler loans, yet no paperwork or documentation required. Very easy process and no hidden charges.</p>
                <img src="~/Images/person1.jpg" style="width:80px;height:80px;border-radius:10px;" /> <br /><br /><h3 style="color:darkblue;">Lakshman</h3>
            </div>
        </td>

        <td style="padding:10px;">
            <div style="box-shadow:0px 5px 10px grey;border-radius:10px;padding:10px;background-color:antiquewhite;">
                <p>This company i felt has the best benefits for a customer. And Sam was patient enough to explain it in simple and easy terms . Unlimited refills!! Best part...no one in the industry dares to do this!!</p>
                <img src="~/Images/person-2-1.jpeg" style="width:80px;height:80px;border-radius:10px;" /> <br /><br /> <h3 style="color:darkblue;">Anusha</h3>
            </div>
        </td>
    </tr>
</table>


